<div class="row">
  <div class="col-sm-12 col-md-8">

    <div class="details">
    <% fields.each do |f, field_type| %>
      <dl>
      <% case field_type
    when "belongs_to" %> <dt translate><%= f.capitalize %> :</dt> <dd clas="detail field value">{{object.<%= f %>.name}}</dd>
      <% when "has_many" %><dl>
        <dt translate><%= f.capitalize %> :</dt>
        <ul>
          <li ng-repeat="item in object.<%= f %>"> {{ item.name }}</li>
        </ul>
      </dl>
    <% else %><dt translate><%= f.capitalize %> :</dt> <dd clas="detail field value">{{object.<%= f %>}}</dd>
      <% end %></dl>
    <% end %>
    </div>


  </div>

  <div class="col-sm-12 col-md-4">
    <ul class="button-group pull-right">
      <a ng-href="#<% parents.each do |p| %>/<%= p %>/{{ this.$parent.$parent.$parent.$parent.<%= p %>_id }}<% end %>/<%= resource_url %>/{{ object.id }}/edit" class="small btn-small btn-primary btn">
        <span class="fa fa-edit"></span> <span translated>Edit</span>
      </a>
    </ul>
  </div>
</div>
