<% unless no_filter? %>
  <filter config="filter_config" result="<%= resource.pluralize.underscore %>"></filter>
<% end %>
<% unless no_bulk? %>
  <div class="row">
    <div class="col-sm-12">
      <div ng-if="bulk_edit" class="fade_anim box box-info">
        <form id="bulk_form">
          <div class="bod-header">
            <h2 translate>Bulk Edit</h2>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-sm-6 columns">
                <div class="form-group">
                  <label for="field_name" translate>Field Name:</label>

                  <select id="field_name" ng-model="field_name" ng-change="field_name_change()" class="form-control">
                    <option value="0" selected translate>-- Select a field --</option>
                    <option ng-repeat="field in fields" value="{{ field.name }}" data-type="{{ field.type }}" data-to="{{ field.to }}"><span translate>{{ field.title }}</span></option>
                  </select>
                </div>
              </div>

              <div class="col-sm-6 columns">
                <div class="form-group">
                  <label for="field_value" translate>Field Value:</label>
                  <div id="value_field">
                    <input id="field_value" ng-model="field_value" type="text" ng-if="current_field.type == 'string' || current_field.type == 'integer'" class="form-control">
                    <textarea id="field_value" class="form-control" ng-model="field_value" ng-if="current_field.type == 'text'"></textarea>

                    <select id="field_value" ng-model="field_value" class="form-control" ng-if="current_field.type == 'belongs_to'">
                      <option ng-repeat="item in cache[current_field.name]" value="{{ item.id }}">{{ item.name }}</option>
                    </select>
                    <select id="field_value" ng-model="field_value" class="form-control" ng-if="current_field.type == 'has_many'" multiple>
                      <option ng-repeat="item in cache[current_field.name]" value="{{ item.id }}">{{ item.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row progressbar-container" ng-if="view_progressbar">
              <div class="col-sm-12 columns">

                <div class="progressbar">
                  <div class="progress xs progress-striped">
                    <div id="request_filler" class="filler progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ rfiller }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ rfiller }}">
                    </div>
                  </div>

                  <div class="progress xs progress-striped">
                    <div id="request_filler" class="filler progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ sfiller }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ sfiller }}">
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3 columns pull-right text-right">
                <small>
                  {{ success }} <span translate>of</span> {{ total }}<span ng-if="failed > 0"> - <span translate>field:</span><span class="text-error"> {{ failed }}</span></span>
                </small>
              </div>
            </div>
          </div>
          <br />

          <div class="box-footer">
            <div class="row">
              <div class="col-sm-6 columns">
                <button class="btn btn-sm btn-success" ng-click="bulk_save()"><i class="fa fa-check"></i> <span translate>Save</span></button>
                <button class="btn btn-sm btn-danger" ng-click="bulk_cancel()"><i class="fa fa-times"></i> <span translate>Cancel</span></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

<% end %>


<list-view buttons="buttons" tools="tools" model="'<% if model_specified? %><%= model %><% else %><%= resource %><% end %>'" objects="<%= resource.pluralize.underscore %>" title-attribute="'<%= resource_data["title-field"] || 'name' %>'" details-template="details_template" item-per-page="10" on_delete="on_delete" column_defs="columns" list-title="list_title">
  <dov class="row">
    <div class="col-sm-12 col-md-6 text-left">
      <h3><i class="fa fa-group"></i> <span translate><%= resource.underscore.pluralize.humanize %></span></h3>
    </div>
  </dov>
</list-view>
